body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: rgb(246, 138, 210);
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.floor{
  margin: 0px;
  background-image: url(assets/12Z_2104.w018.n001.884B.p15.884.jpg);
  background-size: cover;
  width: auto;
  height: 100vh;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.blueDancer{
  border:20px solid orange;
  border-radius:0px;
  position:absolute;
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }

}
/*.testDancer{
  border:10px solid green;
  border-radius:1px;
  position:absolute;
}*/
.image{
  width: 150px;
  height: 150px;
  border-width: 0px;
}
.jack{
  border: 0;
  border-radius: 0px;
  width: 100px;
  height: 100px;
}

button {
  background-color: rgb(246, 138, 210);
  font-weight: bold;
  margin: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(95, 99, 105)
}

.addDancerButton {
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: 'red'

}
